python-decouple==3.8
requests==2.31.0
python-telegram-bot==20.4
loguru==0.5.3
web3==6.9.0
mnemonic==0.20
asgiref==3.7.2
Django==4.2.4
uniswap-python==0.7.1
cctx==1.0.0
asyncio==3.4.3
celery==5.2.7
redis==5.0.0
uniswap_universal_router_decoder==0.9.1